@model LocationVehicule.Models.Voiture

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<h4>Voiture</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Matricule" class="control-label"></label>
                <input asp-for="Matricule" class="form-control" />
                <span asp-validation-for="Matricule" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Modele" class="control-label"></label>
                <input asp-for="Modele" class="form-control" />
                <span asp-validation-for="Modele" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Couleurs" class="control-label"></label>
                <input asp-for="Couleurs" class="form-control" />
                <span asp-validation-for="Couleurs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Puissance" class="control-label"></label>
                <input asp-for="Puissance" class="form-control" />
                <span asp-validation-for="Puissance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Categorie" class="control-label"></label>
                <input asp-for="Categorie" class="form-control" />
                <span asp-validation-for="Categorie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountParHeure" class="control-label"></label>
                <input asp-for="CountParHeure" class="form-control" />
                <span asp-validation-for="CountParHeure" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
